<div class='row'>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="user-form">
            <header>
                <span class="widget-icon"> <i class="fa fa-exclamation-triangle"></i> </span>
                <h2>Realizar observación</h2>
            </header>

            <div>
                <div class="widget-body">

                    <form  name='form' class="form-horizontal" role="form" method="POST" name='vm.form' novalidate>

                        <fieldset>
                            <legend>Observaciones del pedido</legend>

                            <!-- observacion -->
                            <div class="form-group">
                                <label class="col-md-4 control-label">Observaciones</label>
                                <div class="col-md-6">
                                    <textarea ng-model="vm.data.observacion" class='form-control' placeholder="Ingrese observaciones"></textarea>
                                </div>
                            </div>

                        </fieldset>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button ng-disabled="form.$invalid" ng-click="vm.submitForm()" class="btn btn-primary">
                                    <i ng-class="{'fa-edit': !vm.formIsSubmit, 'fa-spinner fa-spin': vm.formIsSubmit }" class="fa fa-btn "></i> Enviar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
