<ui-view>
    <div class='row'>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class='pull-right'>
                <a ui-sref='app.regions.create' ng-hide="vm.hasRole('admin')" class='btn btn-primary'>Nueva Region</a>
            </div>
        </div>
    </div>

    <br>

    <div class='row'>
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-blueDark" id="users-table">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Listado regiones</h2>
                </header>

                <div>
                    <div class="widget-body">
                        <table class='table table-bordered'>
                            <thead>
                                <tr>
                                    <th style="width:150px">Codigo</th>
                                    <th>Nombre</th>
                                    <th ng-hide="vm.hasRole('admin')" class='action-column'>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> <input ng-model="vm.search.code" ng-blur="vm.filter()" ng-enter="vm.filter()" type="text" class="form-control" placeholder="codigo"></input> </td>
                                    <td> <input ng-model="vm.search.name" ng-blur="vm.filter()" ng-enter="vm.filter()" type="text" class="form-control" placeholder="nombre"></input> </td>
                                    <td  ng-hide="vm.hasRole('admin')"> </td>
                                </tr>
                                <tr ng-repeat="region in vm.regions" ng-hide="vm.reload">
                                    <td>{{ ::region.code }}</td>
                                    <td>{{ ::region.name }}</td>
                                    <td  ng-hide="vm.hasRole('admin')">
                                        <a ui-sref="app.regions.edit({id: region.id})" class="btn btn-warning btn-xs"><i class='fa fa-pencil'></i></a>
                                        <a ng-click="vm.destroy(region.id, $index)" class='btn btn-danger btn-xs'><i class='fa fa-trash'></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>



                    </div>
                </div>
            </div>
        </article>
    </div>
</ui-view>
