<div class='row'>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-blueDark" id="user-form">
            <header>
                <span class="widget-icon"> <i class="fa" ng-class="{'fa-plus': vm.action == 'Crear', 'fa-edit': vm.action == 'Editar'}"></i> </span>
                <h2>{{ vm.action }} establecimiento</h2>
            </header>

            <div>
                <div class="widget-body">
                    <form class="form-horizontal" role="form" method="POST" novalidate>

                        <div class="form-group" ng-class="{'has-error': vm.hasError('name')}">
                            <label class="col-md-4 control-label">Name</label>

                            <div class="col-md-6">
                                <input type="text" class="form-control" ng-model="vm.data.name">

                                <span ng-if="vm.hasError('name')" class="help-block">
                                    <strong>{{ vm.errors.name[0] }}</strong>
                                </span>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error': vm.hasError('code')}">
                            <label class="col-md-4 control-label">Codigo</label>

                            <div class="col-md-6">
                                <input type="text" class="form-control" ng-model="vm.data.code">

                                <span ng-if="vm.hasError('code')" class="help-block">
                                    <strong>{{ vm.errors.code[0] }}</strong>
                                </span>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error': vm.hasError('comuna_id')}">
                            <label class="col-md-4 control-label">Comuna</label>

                            <div class="col-md-6">

                                <ui-select ng-model="vm.data.comuna_id">
                                    <ui-select-match placeholder="Seleccione comuna">{{$select.selected.name }} ({{$select.selected.code}})</ui-select-match>
                                    <ui-select-choices repeat="comuna.id as comuna in vm.comunas | propsFilter: {name: $select.search} track by $index">
                                        <div ng-bind-html="comuna.name | highlight: $select.search"></div>
                                        <small>
                                            <strong>codigo:</strong> <span ng-bind-html="comuna.code | highlight: $select.search"></span>
                                        </small>
                                    </ui-select-choices>
                                </ui-select>

                                <span ng-if="vm.hasError('comuna_id')" class="help-block">
                                    <strong>{{ vm.errors.comuna_id[0] }}</strong>
                                </span>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error': vm.hasError('hospital')}">
                            <label class="col-md-4 control-label">Hospital</label>

                            <div class="col-md-6">
                                <select class="form-control" ng-options="hospital.id as hospital.name for hospital in vm.hospitales" ng-model="vm.data.hospital" ng-change="vm.data.es_nivel_secundario = false">
                                    <option value="">No aplica</option>
                                </select>

                                <span ng-if="vm.hasError('year')" class="help-block">
                                    <strong>{{ vm.errors.year[0] }}</strong>
                                </span>
                            </div>
                        </div>

                        <!-- hospitales niveles secundarios  -->
                        <div class="form-group"  ng-if="vm.data.hospital == 'h'">
                            <label class="col-md-4 control-label">Aplica categoría nivel secundario</label>

                            <div class="col-md-6">
                                <input ng-model="vm.data.es_nivel_secundario" type="checkbox" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button ng-click="vm.submitForm()" class="btn btn-primary">
                                    <i ng-class="{'fa-user': !vm.formIsSubmit, 'fa-spinner fa-spin': vm.formIsSubmit }" class="fa fa-btn "></i> {{ vm.action }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
