.tabs {
    float: none;
    list-style: none;
    padding: 0;
    margin: 15px auto;
}
.tabs:after {
    content: '';
    display: table;
    clear: both;
}
.tabs > input[type=radio] {
    display:none;
}
.tabs > label {
    display: block;
    float: left;
    width: 33%;
    color: #ccc;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    line-height: 2;
    cursor: pointer;
    box-shadow: inset 0 4px #ccc;
    border-bottom: 4px solid #ccc;
    transition: all 0.5s;
}
.tabs > label span {
    display: none;
}
.tabs > label i {
    padding: 5px;
    margin-right: 0;
}
.tabs > label:hover {
    color: #3498db;
    box-shadow: inset 0 4px #3498db;
    border-bottom: 4px solid #3498db;
}
.tab-content {
    display: none;
    width: 100%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
    background-color:#ffffff;
}

/** animation */
.tab-content * {
    animation: scale 0.7s ease-in-out;
}
@keyframes scale {
  0% {
    transform: scale(0.9);
    opacity: 0;
    }
  50% {
    transform: scale(1.01);
    opacity: 0.5;
    }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/** change tab */
.tabs [id^="tab"]:checked + label {
    background: #FFF;
    box-shadow: inset 0 4px #3498db;
    border-bottom: 4px solid #3498db;
    color: #3498db;
}
#tabSolicitudRealizada:checked ~ #tab-contentSolicitudRealizada,
#tabEnTransito:checked ~ #tab-contentEnTransito,
#tabPuntoDestino:checked ~ #tab-contentPuntoDestino {
    display: block;
}
/** tab responsive */
@media (min-width: 768px) {
    .tabs i {
        padding: 5px;
        margin-right: 10px;
    }
    .tabs label span {
        display: inline-block;
    }
}

