<ui-view>
    <div class='row'>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class='pull-right'>
                <a ui-sref='app.poblaciones.create' ng-hide="vm.hasRole('admin')" class='btn btn-primary'>Nueva Población</a>
            </div>
        </div>
    </div>

    <br>

    <div class='row'>
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-blueDark" id="users-table">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Listado de poblaciones</h2>
                </header>

                <div>
                    <div class="widget-body">
                        <table class='table table-bordered'>
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Año</th>
                                    <th>Cantidad de población</th>
                                    <th>Cantidad de registros</th>
                                    <th ng-hide="vm.hasRole('admin')"  style="width:100px">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> <input ng-model="vm.search.name" ng-blur="vm.filter()" ng-enter="vm.filter()" type="text" class="form-control" placeholder="nombre"></input> </td>
                                    <td> <input ng-model="vm.search.year" ng-blur="vm.filter()" ng-enter="vm.filter()" type="text" class="form-control" placeholder="año"></input> </td>
                                    <td ng-hide="vm.hasRole('admin')"></td>
                                </tr>
                                <tr ng-repeat="poblacion in vm.poblaciones" ng-hide="vm.reload">
                                    <td>{{ ::poblacion.name }}</td>
                                    <td>{{ ::poblacion.year }}</td>
                                    <td>{{ ::poblacion.poblacionCount }}</td>
                                    <td>{{ ::poblacion.dataCount }}</td>
                                    <td ng-hide="vm.hasRole('admin')">
                                        <a ui-sref="app.poblaciones.import({id: poblacion.id})" class="btn btn-primary btn-xs"><i class='fa fa-file'></i></a>
                                        <a ui-sref="app.poblaciones.edit({id: poblacion.id})" class="btn btn-warning btn-xs"><i class='fa fa-pencil'></i></a>
                                        <a ng-click="vm.destroy(poblacion.id, $index)" class='btn btn-danger btn-xs'><i class='fa fa-trash'></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div ng-if='vm.reload' class='text-center'>
                            <i class="fa fa-2x fa-spinner fa-spin"></i>
                        </div>

                        <div ng-hide="vm.reload" ng-if="vm.poblaciones | isEmpty" class='text-center'>
                            Sin resultados
                        </div>

                        <div ng-hide="vm.reload" ng-if="! (vm.poblaciones | isEmpty)" class='text-center'>
                            <ul uib-pagination items-per-page="vm.itemsPerPage" max-size="10" boundary-link-numbers="true" rotate="false" force-ellipses="true" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.filter(vm.page)"></ul>
                        </div>

                    </div>
                </div>
            </div>
        </article>
    </div>
</ui-view>
